body{
    margin: 0;
    padding: 0;
}

#container{
    background-image: url(media/pink.jpg);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
}

@keyframes appear{
    0% {opacity:0;}
    100% {opacity:1;}
}

#watercolor_bird{
    mix-blend-mode: multiply;
    position: absolute;
    right: 48%;
    top: 28%;
    width: 300px;
    height: auto;
    opacity: .7;
}

#watercolor_bird{
    animation-name: appear;
    animation-duration: 4s;
}

#one{
    mix-blend-mode: darken;
    background-image: url(media/abstract_bird.gif);
    background-size: 100px 100px;
    position: absolute;
    width: 100%;
    height: 100px;
}

#abstract{
    mix-blend-mode: darken;
    background-image: url(media/abstract_bird.gif);
    background-size: 100px 100px;
    position: absolute;
    width: 100px;
    height: 88%;
}

#abstract-two{
    mix-blend-mode: darken;
    background-image: url(media/abstract_bird.gif);
    background-size: 100px 100px;
    position: absolute;
    width: 100px;
    height: 88%;
    right: 3%;
}

#two{
    mix-blend-mode: darken;
    background-image: url(media/abstract_bird.gif);
    background-size: 100px 100px;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 84.8%;
}

video{
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -10;
}

audio {
    z-index: 10;
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 0;
    left: 40%;
    padding-bottom: 20px;
}


@keyframes rotate{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}

#angel{
    mix-blend-mode: multiply;
    position: absolute;
    right: 13%;
    top: 28%;
    opacity: .7;
}

#angelimg{
    width: 350px;
    height: auto;
}

#angel{
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#angel2{
    mix-blend-mode: multiply;
    position: absolute;
    left: 13%;
    top: 28%;
    opacity: .7;
}

#angel2{
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}